body{
    margin: 0px 0px;
    
    padding: 0px;
}
.pinsan{
    margin-right: auto;
    cursor: pointer;
}
#Cousin-grounds{
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    margin-top: 20px;
}
#Cousin-Description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    margin: 10px 150px;
}
#title{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    margin: 0px;
}

.image-blocker{
    text-align: center;
}
.text-seperator{
    text-align: justify;
}

  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252a;
  }
    
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  H3,.nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.5s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(14, 68, 82, 0.877);
  }
  
